.page-title{
    font-size: 3em;
    text-align: left;
}
.page-subtitle{
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}
.main-page{
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5em;
}
.searchbox{
    max-width: 250px;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }